<!DOCTYPE html>
<html>
<head>

  <title>GitHub Anaytics Tool</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/cdn/stylesheets/charts.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </link>

  <!-- You can download Handlebars at http:// handlebarsjs.com/ and save it as handlebars-v4.0.2.js on your site. Then make it available by adding the following line. -->
  <style type="text/css">
td, th {
  padding: 4px 10px;
}
  </style>

 <script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v4.0.11.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/cdn/javascripts/dataFile.js"></script>
<script src="../../cdn/d3/d3-timeline.js"></script>
</head>
<body>

  <div id = "sidenav" class="sidenav">
    <a id = "overview" href="#overview" >Overview</a>
    <a id="sprints" href="#sprints" >Sprint Overview</a>
 

    <button class="dropdown-btn">Pull Request Statistics 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a id="pullOverview" href="#review">Pull Request overview</a>
      <a id="pullreview" href="#review">Pull Request Review</a>
      <a id="pullPerDev" href="#pullPerDev">Pull Request Per Developer</a>
      <a id="pullCommits" href="#pullCommits">Pull Request Commits</a>
    </div>

  </div>

  <div class="main">
      <!-- It is better to separate your template from the JS and you do that by placing the template in its own tag -->
    

<!--  code from James-->
<div id="quoteData"></div>
<script id="quote-template" type="text/x-handlebars-template">
  <div class="repodropdown"  style="float:right">
      <button class="repodropbtn" >Dropdown</button>
      <div class="repodropdown-content">
        {{#each repos}}
        <a>{{repo}}</a>
        {{/each}}
      </div>
    </div>
  
 
</script>



    <!--  code from James-->

      <div id ="theading" ></div>
      <div id= "cards"></div>
      <div id= "3cards"></div>
      <script id= "table_heading_template" type="text/x-handlebars-template">
        <h1 >{{title}}</h1>
      </script>
      <script id = "cards_template" type="text/x-handlebars-template" >
        <div class="row2" >

          <div class="column2" style="background-color:black;">
            <h2 style="color:white">{{card1}}</h2>
            <p style="color:white" >{{text1}}</p>
          </div>
          <div class="column2" style="background-color:black;">
            <h2 style="color:white">{{card2}}</h2>
            <p style="color:white" >{{text2}}</p>
          </div>
          <div class="column2" style="background-color:black;">
            <h2 style="color:white">{{card3}}</h2>
            <p style="color:white" >{{text3}}</p>
          </div>
          <div class="column2" style="background-color:black;">
            <h2 style="color:white">{{card4}}</h2>
            <p style="color:white" >{{text4}}</p>
          </div>
        
        </div>
      </script>
      <script id = "3cards_template" type="text/x-handlebars-template">
        <div class="row3" >

          <div class="column3" style="background-color:black;">
            <h2 style="color:white">{{card1}}</h2>
            <p style="color:white" >{{text1}}</p>
          </div>
          <div class="column3" style="background-color:black;">
            <h2 style="color:white">{{card2}}</h2>
            <p style="color:white" >{{text2}}</p>
          </div>
          <div class="column3" style="background-color:black;">
            <h2 style="color:white">{{card3}}</h2>
            <p style="color:white" >{{text3}}</p>
          </div>
        
        </div>
      </script>
           <div>
       <div id="timeline1"></div>
        <div>
          </div>
            <div align="center" id="barGraph"></div>
          <div>
       </div>
       </div>
            <div align="centre" id="#sprintBarGraph"></div>
          <div>

      <div id="summary"></div>
      <div class = "row">
        <div>
          <div class = "column" id = "mergedPie" style = ></div>
        </div>
        <div>
          <div class = "column" id = "mergedReleasePerDevTable"></div>
        </div>   
        <div>
          <div class = "column" id = "closedPie" style = ></div>
        </div>
        <div>
          <div class = "column" id = "closedPullsPerDevTable"></div>
        </div>               
      </div>
      <div class = "row">
        <div>
          <div class = "column" id = "sprintBarGraph1" style = ></div>
        </div>
        <div>
          <div class = "column" id = "releaseDetailsTable1"></div>
        </div>
        </div>
        <div class = "row">
        <div>
          <div class = "column" id = "sprintBarGraph2" style = ></div>
        </div>
        <div>
          <div class = "column" id = "releaseDetailsTable2"></div>
        </div>               
      </div>

      <div class = "row">
        <div>
          <div class = "column" id = "sprintBarGraph3" style = ></div>
        </div>
        <div>
          <div class = "column" id = "releaseDetailsTable3"></div>
        </div>               
      </div>

 <div class = "row">
        <div>
          <div class = "column" id = "sprintBarGraph4" style = ></div>
        </div>
        <div>
          <div class = "column" id = "releaseDetailsTable4"></div>
        </div>               
      </div>

 

         <div>
            <div id="clickedBar"></div>
            <div id="releaser"></div>
            <div id="date"></div>
            <div id="SprintLength"></div>
            <div id="clickedSprintLength"></div>
            <div id="james"></div>
          </div>
      </div>

      


       <div id="info"></div>

      <script>
/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>

  </div>
     

  <script type="text/javascript" src="/cdn/javascripts/charts.js"></script>

  <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
</script>

</body>
</html>