<!DOCTYPE html>
<html>
<head>

  <title>GitHub Anaytics Tool</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/cdn/stylesheets/charts.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </link>

  
  

  <!-- You can download Handlebars at http:// handlebarsjs.com/ and save it as handlebars-v4.0.2.js on your site. Then make it available by adding the following line. -->
  <style type="text/css">
td, th {
  padding: 4px 10px;
}
  </style>

 <script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v4.0.11.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/cdn/javascripts/dataFile.js"></script>
<script type="text/javascript" src="/cdn/javascripts/dynamicChart.js"></script>
<script src="../../cdn/d3/d3-timeline.js"></script>
</head>
<body id = 'body'>

  <div id = "sidenav" class="sidenav">
    <a id = "overview" href="#overview" >Overview</a>
    <a id="sprints" href="#sprints" >Sprint Overview</a>
 

    <button class="dropdown-btn">Pull Request Statistics 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a id="pullOverview" href="#review">Pull Request overview</a>
      <a id="pullreview" href="#review">Pull Request Review</a>
      <a id="pullPerDev" href="#pullPerDev">Pull Request Per Developer</a>
    </div>

  </div>  
  <div id="loader"  >
    <h1 class="center">Please wait while we fetch your repository information.</h1>
      <img src ="/cdn/gifs/RubixCube-8.gif" class="center">
    </div>

  <div class="main">
      <!-- It is better to separate your template from the JS and you do that by placing the template in its own tag -->
    

<!-- Dynamic Graph -->

   

<!-- Dynamic Graph -->

<!--  code from James-->

<div id="frontOverview"></div>
 <script id = "overviewLayout-template" type="text/x-handlebars-template">

<div class="Orow3">
  <div class="Ocolumn3" style="background-color:black;">
    <h1 style="color:white;">{{title}}</h1>
  </div>
  <div class="Ocolumn4" style="background-color:black;">
      <div class="repodropdown"  style="float:right">
        <button class="repodropbtn" >Repositories</button>
        <div class="repodropdown-content">
          {{#each repos}}
          <a>{{repo}}</a>
          {{/each}}
        </div>      
    </div>
    <div class="repodropdown"  style="float:right">
        <button type = "button" id= "logout" type="submit " class="repodropbtn" >Logout</button>
    </div>
  
  </div>  
</div>

<div class="main2">
<div class="Orow1">
  <div class="Ocolumn1" style="background-color:#aaa;">
    <h2>Total Sprints</h2>
    <p>{{NumberOfSprint}}</p>
  </div>
  <div class="Ocolumn1" style="background-color:#bbb;">
    <h2>Total Commits</h2>
    <p>{{totalCommits}}</p>
  </div>
  <div class="Ocolumn1" style="background-color:#ccc;">
    <h2>Main Language</h2>
    <p>Don'tForgentMe.JS:)</p>
  </div>
</div>
<div class="Orow2">
  <div class="Ocolumn5" style="background-color:#aaa;">
    <h2>Build Status of Master</h2>
    <p>{{statusOnMaster}}</p>
  </div>
  <div class="Ocolumn5" style="background-color:#bbb;">
    <h2>Trunk Based Analysis Score</h2>
    <p>%</p>
  </div>
</div>

<div class="Osidenav">
    <h1>Collaborators</h1>
   {{#each names}}
    <li >{{this}}</li>
    {{/each}}
  </div>
</div>
<div class="Orow2">
  <div class="Ocolumn2" style="background-color:#aaa;">
      <h2>Project Contribution Per Developer</h2>
    <div id = "overviewPie" style="display:inline-block"></div>

  </div>

  <div align='centre' id="barGraph"class="Ocolumn2" style="background-color:#bbb;">
      <h2>Number of lines added per developer per sprint</h2>

  </div>
</div>




</script>
    <!--  code from James-->

      <div id ="theading" ></div>
      <div id= "cards"></div>
      <div id= "3cards"></div>
      <script id= "table_heading_template" type="text/x-handlebars-template">
        <h1 >{{title}}</h1>
        <h3>{{description}}</h3>
      </script>
      <script id = "cards_template" type="text/x-handlebars-template" >
        <div class="row2" >

          <div class="column2" style="background-color:black;">
            <h2 style="color:white">{{card1}}</h2>
            <p style="color:white" >{{text1}}</p>
          </div>
          <div class="column2" style="background-color:black;">
            <h2 style="color:white">{{card2}}</h2>
            <p style="color:white" >{{text2}}</p>
          </div>
          <div class="column2" style="background-color:black;">
            <h2 style="color:white">{{card3}}</h2>
            <p style="color:white" >{{text3}}</p>
          </div>
          <div class="column2" style="background-color:black;">
            <h2 style="color:white">{{card4}}</h2>
            <p style="color:white" >{{text4}}</p>
          </div>
        
        </div>
      </script>
      <script id = "3cards_template" type="text/x-handlebars-template">
        <div class="row3" >

          <div class="column3" style="background-color:black;">
            <h2 style="color:white">{{card1}}</h2>
            <p style="color:white" >{{text1}}</p>
          </div>
          <div class="column3" style="background-color:black;">
            <h2 style="color:white">{{card2}}</h2>
            <p style="color:white" >{{text2}}</p>
          </div>
          <div class="column3" style="background-color:black;">
            <h2 style="color:white">{{card3}}</h2>
            <p style="color:white" >{{text3}}</p>
          </div>
        </div>

      </script>
      <script id='specialPopup' type="text/x-handlebars-template"><div style="text-align:center" class="popup">
          <span class="popuptext" id="myPopup">A Simple Popup!</span>
      </div>
        
      </script>
      <div id=popUpContainer></div>

      <div id='dashboard'></div>



      <div id='defaulView' align="right"></div>
      
      <script id="button_template" type="text/x-handlebars-template"><button class='button button3' type="button" id='myBtn'>'Click for default view'</button></script>
      <div class = "row">
           <div>
       <div class='column' align='left' id="timeline1"></div>
        
        </div> <div>

          <div>
         

      </div>
       </div>
       </div>
       <div class = "row">
       <div class='column' id='stackedDirty'></div>
        <div class='column' id = "stacked1"></div>

     </div>
            <div align="centre" id="sprintBarGraph"></div>
          <div>

      <div id="summary"></div>

      <div class = "row">       
        <div>
          <div class = "column" id = "mergedReleasePerDevTable"></div>
        </div>          
        <div>
          <div class = "column" id = "closedPullsPerDevTable"></div>
        </div>               
      </div> 


      </div> 
      <div id="info"></div>
      <div id = 'dynamicBarGraph'></div>
      <script id='dynamicChart' type="text/x-handlebars-template">
        <div style='background-color: #F2EDE4'>
                 <div class="container" style="margin-top: 20px;">
            <div class="row" >
              <div class="col-md-4" >
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div  class="categories">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="graph"></div>
              </div>
            </div>
          </div>
          </div>
      </script>          
      </div>



      <script>

/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>

     

  <script type="text/javascript" src="/cdn/javascripts/charts.js"></script>

  <script>
/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

function filterFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    div = document.getElementById("myDropdown");
    a = div.getElementsByTagName("a");
    for (i = 0; i < a.length; i++) {
        if (a[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
        } else {
            a[i].style.display = "none";
        }
    }
}
</script>


</body>
</html>